body {
    font-family: 'VK';
    font-weight: 400;
    font-size:  23px;
    color: #fff;
}

a,
button,
input,
textarea,
svg * {
    
    transition-duration: var(--transition-duraction);
}

a {
    text-decoration: none;
    color: inherit;
}